RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
Options -Indexes
ErrorDocument 403 http://127.0.0.1/efficientFarming/error_403
ErrorDocument 500 http://127.0.0.1/efficientFarming/error_500
